.avatar {
    width: 250px;
    height: 250px;
    border: 1px solid #007AFF;
    border-radius: 50%;
    background: url('../../img/avatar.jpeg') center /250px no-repeat;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}