.education-item {
    list-style-type: none;
    width: 100%;
}

.education-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    color: #000000;
    margin-bottom: 10px;
}

.education-date {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.education-description {
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}