.projects-item {
    list-style-type: none;
    width: 100%;
    margin-bottom: 18px;
}

.project-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 10px;
}

.project-description, .project-technology, .project-source {
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

.project-description, .project-technology {
    margin-bottom: 5px;
}

.project-link {
    color: #000;
}
