@import './components/cv-container.css';

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240, 240, 240);
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 30px;
    justify-content: center;
}


